input {
    text-align: end;
}

#botoes {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 8px;
}

#botoes button {
    padding: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    border: #5e5e5e solid 1px;
    font-size: larger;
}

#botoes button:hover{
    background-color: #5e5e5e;
    color: #fff;
}

#botoes #btnIgual:hover{
    background-color: #1681fa;
}

#botoes #btnC:hover{
    background-color: #fa3116;
}

main {
    width: 500px;
    background-color: #b3b3b3;
    padding: 20px;
    border-radius: 20px;
}

#display{
    margin: 10px;
    height: 30px;
    font-size: 20px;
    width: 475px;
}

main{
    text-align: end;
}